@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color:  rgba(135, 183, 132, 0.241);
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding-top: 10px;
}


.container{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 790px;
    max-width: 100%;
    min-height: 700px;
    max-height: 100%;
    padding: 10px;
}

.container .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
}

.container h2{
    display: flex;
    padding-bottom:8px;
    justify-content: center;
    font-size: 18px;
}

.container strong{
    color: #292727;
}

.container .textbox input{
    margin-bottom: 15px;
    height: 28px;
    border-radius: 2px;
    border: 1px solid #8c8c8c; 
    padding-left: 10px;
}
/*
.container .textbox select{
    margin-bottom: 10px;
    height: 28px;
    border-radius: 2px;
    border: 1px solid #8c8c8c; 
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
*/
.container .radiobox input{
    width: 13px; 
    height: 13px;
    cursor: pointer;
}


.container .requisicao{
    padding: 15px;
}

.container .protocolo{
    padding: 15px;
}


.radiobox{
    padding-top: 10px;
    padding-bottom: 10px;
}

.radiobox .especie{
    display: flex;
    background-color: #f0efef;
    padding: 7px;
    border-radius: 2px;
    align-items: center;
}

.radiobox .especie input{
    align-items: center;
}

.radiobox .cato{
    display: flex;
    padding-left: 90px;
}

.radiobox .camundongo{
    padding-left: 100px;
}

.radiobox .spann{
    justify-content: left;
}

.radiobox .sexo{
    display: flex;
    background-color: #f0efef;
    padding: 7px;
    border-radius: 2px;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 4px;
}

.radiobox .fecho{
    display: flex;
    padding-left: 111px;
}

.radiobox .macho{
    padding-left: 85px;
}

.radiobox .linhagem{
    display: flex;
    background-color: #f0efef;
    padding: 7px;
    border-radius: 2px;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 4px;
}

.radiobox .tipagem{
    display: flex;
    padding-left: 73px;
}

.radiobox .balbc{
    padding-left: 92px;
}

.radiobox .c57bl6j{
    padding-left: 92px;
    
}

.fields{
    display: flex;
    justify-content: space-between;
}

.fields .numero{
    display: flex;
    width: 220px;
    flex-direction: column;
}

.pessoa{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fields2{
    display: flex;
    justify-content: space-between;
}

.fields2 .ramade{
    display: flex;
    width: 200px;
    flex-direction: column;
}

.fields2 .ramade2{
    display: flex;
    width: 500px;
    flex-direction: column;
}

.departamento{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.rodape {
    display: flex;
    justify-content: space-between;
}

.rodape .data{
    display: flex;
    width: 220px;
    flex-direction: column;
}

.rodape span{
    display: flex;
    padding-top: 20px;
}


.campo1{
    border-radius: 3px;
    border: 2px solid #8c8c8c;   
    margin-bottom: 20px;
}

.campo2{
    border-radius: 3px;
    border: 2px solid #8c8c8c;
    margin-top: 20px;  
    display: none;
}

.linha{
    display: none;
}



.button {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #8c8c8c;
    overflow: hidden;
    border-radius: 4px;
    color: #000000;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-txt {
    z-index: 1;
    font-weight: 500;
    font-size: 16px;
    
  }
  

  .button:hover {
    color: #fff;
    border: none;
    background-color: rgb(33, 138, 115);
  }
  
  @media print {
    .container{
        min-height: 1122px;
    }
    button{
        display: none;
    }
    .campo2, .linha{
        display: block;
    }
    body{
        padding-top: 0px;
    }
}

@media screen and (max-width: 768px){
	.container {
		display: block;    
	}
}